body {
  font-family: 'Raleway', sans-serif;
  background-image: url(https://picsum.photos/1600/1050);
}

.weather-info__container {
  display: flex;
}

.loader__container {
  display: none;
}

.weather-info__container,
.loader__container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-info__search-view {
  display: flex;
}

.weather-info__search-view, 
.weather-info__forecast-view, 
.loader {
  flex-direction: column;
  align-items: center;
  height: 68%;
  width: 70%;
  border-radius: 30px;
  background-color: rgba(200, 200, 200, .9);
}

.weather-info__title {
  margin-top: 5%;
  font-size: 40px;
  font-weight: 500;
}

.weather-info__search-view label {
  margin: 90px 0 10px;
  font-size: 20px;
}

.weather-info__search-view input {
  width: 260px;
  margin-bottom: 30px;
  border-color: transparent;
  border-radius: 5px;
  font-size: 18px;
  line-height: 150%;
}

.weather-info__search-location__button {
  padding: 15px 20px;
  border-radius: 15px;
  border-color: none;
  background-color: #008080;
  transition: .3s;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.weather-info__search-location__button:hover {
  background-color: #fff;
  color: #008080;
}

.weather-info__forecast-view {
  display: none;
}
 
.weather-info__btn-return {
  align-self: flex-start;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 15px;
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
}

.loader__spinner--right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border-left: 2px solid black;
  border-radius: 50%;
  animation: spinToRight 1s linear infinite;
}


@keyframes spinToRight {
  0% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(360deg)
  }
}

.loader__spinner--left{
  width: 90px;
  height: 90px;
  border-right: 2px solid black;
  border-radius: 50%;
  animation: spinToLeft 1s linear infinite forwards;
}

.loader p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spinToLeft {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-720deg);
  }
}

.weather-info__city {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .6);
}

h2 {
  font-size: 42px
}

.weather-info__temperatures p,
.weather-info__temperatures h3 {
  margin: 5px 0;
  font-size: 20px;
}

.weather-info__city img {
  width: 150px;
}